/* Sass color variables //////////////////////////////////////////////////////////////*/
$color-primary: #ffe000;
$color-secondary: #8cd4ff;
$color-black: #171717;
$color-dark: #383838;
$color-medium: #cfcfcf;
$color-light: #efefef;
$color-white: #ffffff;

/* Main styles ///////////////////////////////////////////////////////////////////////////*/

@font-face {
  font-family: title-font;
  src: url("../fonts/Vattican.ttf");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

h1 {
  font-family: "Share Tech Mono", monospace;
  font-size: 2em;
}

h2,
h3 {
  font-family: "title-font";
  margin-top: 30px;
  
}

h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
  margin-bottom: 30px;
}

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border: 20px solid $color-white;
  background: $color-light;
  color: $color-dark;
}

/* Title page css /////////////////////////////////////////////////////////////////*/

.title-index {
  font-family: "title-font";
  font-size: 7em;
  //position: absolute;
  //z-index: 100;;
  color: $color-dark;
  text-shadow: 2px 2px 0px rgba($color-primary, 0.8);
}

.hex-pattern-left,
.hex-pattern-right {
  position: absolute;
  bottom: 20px;
  opacity: 0.15;
}

.hex-pattern-left {
  /*height: 500px;*/
  left: 20px;
}

.hex-pattern-right {
  /*height: 370px;*/
  right: 20px;
}

/* Header css ///////////////////////////////////////////////////////////////////////*/

header {
  margin-top: 30px;
}

.mobile-header-ul {
  height: 100%;
}

.mobile-header-ul ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-header-ul li {
  margin-top: 20px;
}

.desktop-header {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.desktop-nav-ul-left,
.desktop-nav-ul-right {
  display: none;
}

/* Modal CSS /////////////////////////////////////////////////////////////////////////////*/

.model-open-arrow {
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 20px;
}

.mobile-nav-modal {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  z-index: 300;
  width: 100%;
  height: 100%;
  border: 20px solid $color-medium;
  background: $color-dark;
  color: $color-white;
  opacity: 0.7;
}

.modal-hide {
  transform: translate(-100%, -100%);
  display: none;
}

.modal-show {
  //transform: translate(0%, 0%);
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  animation-name: animatemodal;
  animation-duration: 0.5s;
  opacity: 0.95;
}

/* modal animation/////// */
@keyframes animatemodal {
  from {
    /*opacity: 0.7;*/
    transform: translate(100%, 0%);
  }
  to {
    /*opacity: 0.95;*/
    transform: translate(0%, 0%);
  }
}

/* Main page css /////////////////////////////////////////////////////////////////////////////////////*/

main {
  align-items: center;
  margin: 40px auto;
  width: 90%;
  /*max-width: 525px;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.banner-div {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
}

.banner-headline {
  font-family: "title-font";
  color: $color-white;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 13.5%;
  transform: translate(-50%, -50%);
}

.scroll-icon {
  margin-bottom: 30px;
}

main p {
  width: 95%;
  max-width: 550px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  /*background-image: url("/img/hexellence.png");*/
  border-radius: 5%;
  margin: 40px auto;
}

.main-title-div {
  margin: auto;
}

.main-title-div h1 {
  margin: 0;
  text-align: center;
}

.main-title-div h2 {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  text-align: center;
}

/* Example work images /////////////////////////////////////////////////////////////////////////////*/

.previous-next-button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previous-next-button-div button:first-of-type {
  position: fixed;
  top: 50%;
  left: 20px;
}

.previous-next-button-div button:last-of-type {
  position: fixed;
  top: 50%;
  right: 20px;
}

.stand-out-content-div a {
  padding: 30px;
}
/*example work images /////////////////*/
#bochi-bochi-img {
  background-image: url("../img/bochi-bochi-mobile.png");
}

#brewces-img {
  background-image: url("../img/brewces-mobile.png");
}

.work-img {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-grow: 2;
  min-width: 320px;
  min-height: 550px;
}

.work-text {
  font-family: "Overpass", sans-serif;
  text-align: center;
}

.work-text a {
  text-decoration: none;
  color: $color-dark;
}

.work-text a > img {
  max-width: 250px;
  transition: transform 0.2s;
}

.work-text a:hover {
  color: $color-secondary;
  cursor: pointer;
}

.work-text a:hover > img {
  transform: scale(1.1);
}
/* reusable div css //////////////////////////////////////////////////////////////////////////*/

#first-spacing-div {
  margin-top: 24px;
  margin-bottom: 10px;
}

.spacing-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stand-out-content-div {
  align-items: center;
  width: 95%;
  max-width: 550px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  /*background-image: url("/img/hexellence.png");*/
  border-radius: 5%;
  margin: 40px auto;
}

.stand-out-content-div h3 {
  margin: 30px 0 30px 0;
}

.stand-out-content-div img {
  margin-bottom: 30px;
}

.stand-out-content-div p {
  width: 80%;
  margin: 0 0 20px 0;
}

.stand-out-content-div p:last-child {
  margin-bottom: 30px;
}

/* footer css ///////////////////////////////////////////////////////////////////////////*/

footer {
  flex-shrink: 0;
}

footer ul {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
  border-top: solid 1px $color-medium;
}

/* Media queries /////////////////////////////////////////////////////////////////////////*/

@media screen and (min-width: 400px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 475px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.4em;
  }
  main p {
    width: 90%;
  }
}

@media screen and (min-width: 600px) {
  /*example work images ///////////////////////////*/

  #bochi-bochi-img {
    background-image: url("../img/bochi-bochi-tablet.png");
  }

  #brewces-img {
    background-image: url("../img/brewces-tablet.png");
  }

  .work-img {
    min-width: 400px;
    min-height: 300px;
  }
}

@media screen and (min-width: 650px) {
  h2 {
    font-size: 1.9em;
  }

  h3 {
    font-size: 1.5em;
  }
  main p {
    width: 80%;
  }
  .stand-out-content-div {
    width: 80%;
  }
}

@media screen and (min-width: 750px) {
  .desktop-header {
    display: flex;
    justify-content: space-around;
  }

  .desktop-header li:hover {
    color: $color-secondary;
    cursor: pointer;
  }

  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    padding: 0;
  }

  .model-open-arrow {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  /*example work images ///////////////////////////*/

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  #bochi-bochi-img {
    background-image: url("../img/bochi-bochi2.png");
  }

  #brewces-img {
    background-image: url("../img/brewces2.png");
  }

  .work-img {
    width: 100%;
    height: 600px;
    background-position: center;
  }
}

@media screen and (min-width: 750px) {
  .desktop-header {
    display: flex;
    justify-content: space-around;
  }

  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    padding: 0;
  }

  .model-open-arrow {
    display: none;
  }

  .hex-pattern-center {
    background-image: url("../img/hex-center-tablet.png");
    height: 396px;
    width: 529px;
  }

  .hex-pattern-center-text {
    padding: 14.5%;
  }

  .hex-pattern-center-text h3:first-of-type {
    align-self: flex-start;
  }

  .hex-pattern-center-text h3:last-of-type {
    align-self: flex-end;
  }
}

@media screen and (min-width: 1000px) {
  .hex-pattern-center {
    background-image: url("../img/hex-center-desktop.png");
    height: 304px;
    width: 520px;
  }

  .hex-pattern-center-text {
    padding: 0;
    flex-direction: row;
  }

  .hex-pattern-center-text h3:first-of-type {
    align-self: auto;
  }

  .hex-pattern-center-text h3:last-of-type {
    align-self: auto;
  }
}

@media screen and (min-width: 1260px) {
  .work-text {
    display: flex;
  }

  .work-text > .stand-out-content-div {
    margin: 40px 10px;
  }
}
