/* Sass color variables //////////////////////////////////////////////////////////////*/
$color-primary: #ffe000;
$color-secondary: #8cd4ff;
$color-black: #171717;
$color-dark: #383838;
$color-medium: #cfcfcf;
$color-light: #efefef;
$color-white: #ffffff;

/* Main styles ///////////////////////////////////////////////////////////////////////////*/

ul {
  padding-left: 20px;
}

@font-face {
  font-family: title-font;
  src: url("../fonts/Vattican.ttf");
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow-y: scroll;
}

h2,
h3 {
  margin-top: 30px;
}

h2 {
  font-family: "title-font";
  font-size: 1.3em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.15em;
  margin-bottom: 30px;
  font-family: "Abel", sans-serif;
}

body {
  min-height: 100vh;
  /*variable prop test*/
  // background-color: tomato; /* Fallback for browsers that do not support Custom Properties */
  //height: calc(var(--vh, 1vh) * 100);

  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border: 20px solid $color-white;
  background: $color-light;
  color: $color-dark;
}

/* Title page css /////////////////////////////////////////////////////////////////*/

.main-title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(239, 239, 239, 0.8);
  border-radius: 20px;
}

.main-title-div h1 {
  font-family: "title-font";
  font-size: 3.8em;
  color: $color-dark;
  text-shadow: 2px 2px 0px $color-primary;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}

.main-title-div h2 {
  font-family: "Abel", sans-serif;
  text-align: center;
  margin-top: 0;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  filter: grayscale(1);
  position: absolute;
  bottom: 0;
  left: 0;
  // width: 100%;
  // height: 100%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .fullscreen-bg__video {
    display: none;
  }
}

@media (min-width: 600px) {
  .main-title-div {
    padding: 40px;
    border: solid 3px $color-primary;
  }
}

/* Header css ///////////////////////////////////////////////////////////////////////*/

header {
  background: rgba(239, 239, 239, 0.9);
  position: sticky;
  top: 0;
  z-index: 200;
  // box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.index-page-desktop-header {
  font-weight: bold;
}

.desktop-header {
  max-width: 800px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.desktop-header img {
  height: 76px;
  width: 71px;
}

.desktop-header img:hover {
  cursor: pointer;
}

.desktop-nav-ul-left,
.desktop-nav-ul-right {
  display: none;
}

.desktop-nav-ul-left li a,
.desktop-nav-ul-right li a {
  text-decoration: none;
  color: $color-dark;
  outline: none;
}

.screen-reader-main,
.screen-reader-footer {
  position: absolute;
  top: -999px;
  left: -999px;
  background-color: $color-dark;
  color: $color-primary;
  text-decoration: none;
  padding: 20px;
}

.screen-reader-main:focus,
.screen-reader-footer:focus {
  z-index: 999;
  top: 20px;
  left: 20px;
  outline: none;
  border: solid 5px $color-primary;
}

/* Modal CSS /////////////////////////////////////////////////////////////////////////////*/

.modal-image-open,
.modal-image-close,
#previous-button,
#next-button {
  width: 48px;
  height: 56px;
}

.modal-image-open {
  position: absolute;
  z-index: 200;
  top: 50px;
  right: 40px;
}

.modal-image-close {
  position: absolute;
  z-index: 200;
  top: 32px;
  right: 35px;
}

.modal-image-open:hover,
.modal-image-close:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
}

.mobile-nav-modal {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  z-index: 300;
  width: 100%;
  height: 100%;
  border: 20px solid $color-medium;
  background: $color-dark;
  color: $color-white;
  opacity: 0.7;
}

.mobile-nav-modal ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobile-nav-modal ul {
  height: 100%;
  padding: 150px 0;
  justify-content: space-around;
}

.mobile-nav-modal ul li a {
  margin-bottom: 25px;
  text-decoration: none;
  color: $color-light;
}

.mobile-nav-modal li a:active {
  color: $color-primary;
}

.modal-hide {
  transform: translate(-100%, -100%);
  display: none;
}

.modal-show {
  //transform: translate(0%, 0%);
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  animation-name: animatemodal;
  animation-duration: 0.5s;
  opacity: 0.95;
}

/* modal animation/////// */
@keyframes animatemodal {
  from {
    /*opacity: 0.7;*/
    transform: translate(100%, 0%);
  }
  to {
    /*opacity: 0.95;*/
    transform: translate(0%, 0%);
  }
}

/* Main page css /////////////////////////////////////////////////////////////////////////////////////*/

main {
  align-items: center;
  margin: 20px auto;
  width: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-div {
  margin-bottom: 40px;
  position: relative;
  text-align: center;
}

.banner-img {
  width: 100%;
}

.banner-headline {
  font-family: "title-font";
  color: $color-white;
  width: fit-content;
  margin: 0;
  position: absolute;
  top: 75%;
  left: 18%;
  transform: translate(-50%, -50%);
}

.scroll-icon {
  margin-bottom: 30px;
}

main p,
main ul,
.news-img-ul li img {
  width: 95%;
  max-width: 550px;
}

.profile-img {
  width: 159px;
  height: 181px;
}

/* Example work images /////////////////////////////////////////////////////////////////////////////*/

.previous-next-button-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.previous-next-button-div h2 {
  text-align: center;
  padding-right: 4px;
}

#previous-button:hover,
#next-button:hover {
  cursor: pointer;
  transition: transform 0.2s;
  transform: scale(1.1);
}

.stand-out-content-div h3 {
  text-align: center;
}

.stand-out-content-div a {
  padding: 30px;
}

.blog-title {
  width: 95%;
  max-width: 550px;
}

.blog-title .stand-out-content-div {
  width: 100%;
  margin: 40px 0;
}

.blog-title:hover,
.link-to-blog-titles:hover {
  color: $color-secondary;
}

/*example work images /////////////////*/
#bochi-bochi-img {
  background-image: url("../img/bochi-bochi-img-mobile-single.png");
}

#brewces-img {
  background-image: url("../img/brewces-img-mobile-single.png");
}

#applications-img {
  background-image: url("../img/regapp-img-mobile.png");
}

.work-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-grow: 2;
  //min-width: 150px;
  min-height: 300px;
  width: 85%;
  margin-top: 50px;
}

.work-intro-text {
  text-align: center;
}

.work-text {
  max-width: 500px;
  font-family: "Overpass", sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-text .stand-out-content-div {
  max-width: 200px;
  margin: 15px;
}

.work-text .stand-out-content-div h3 {
  margin: 0 auto;
}

.work-text a,
.blog-title {
  text-decoration: none;
  color: $color-dark;
}

.work-text a > img {
  width: 159px;
}

.work-text a:hover {
  cursor: pointer;
  color: $color-secondary;
}

.work-text a:hover > img {
  cursor: pointer;
  transform: scale(1.05);
}

.work-text a,
.work-text a > img,
.work-text a:hover,
.work-text a:hover > img {
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.fleelance-ul {
  width: 80%;
  margin-bottom: 0;
}

.fleelance-ul li:not(:first-child) {
  margin-top: 20px;
}

.fleelance-ul li:last-child {
  margin-bottom: 40px;
}

/* reusable div css //////////////////////////////////////////////////////////////////////////*/

#first-spacing-div {
  margin-top: 24px;
  margin-bottom: 10px;
}

.spacing-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stand-out-content-div {
  align-items: center;
  width: 95%;
  max-width: 550px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
  /*background-image: url("/img/hexellence.png");*/
  border-radius: 10px;
  margin: 40px auto;
}

.stand-out-content-div h3 {
  max-width: 80%;
  margin: 30px 0 30px 0;
}

.link-to-blog-titles {
  width: 100%;
}

.link-to-blog-titles h3 {
  max-width: none;
}

.stand-out-content-div h3 a,
.stand-out-content-div a {
  color: $color-dark;
  text-decoration: none;
}

.stand-out-content-div img {
  margin-bottom: 30px;
}

.stand-out-content-div p {
  width: 80%;
  margin: 0 0 20px 0;
}

.stand-out-content-div p:last-child {
  margin-bottom: 30px;
}

.freelance-first-p {
  margin-top: 50px;
  margin-bottom: 10px;
}

.freelance-first-p,
.freelance-last-p {
  text-align: center;
}

#freelance-stand-out-div p:first-of-type {
  margin: 40px auto 0 auto;
}

.freelance-title {
  width: 60%;
}

/* pricing div ///////////////////////////////////////////////////////////////////////*/
.website-pricing p {
  margin-top: 30px;
}

/* contact form css //////////////////////////////////////////////////////////////////*/

form {
  width: 90%;
}

.stand-out-content-div form h3 {
  text-align: center;
  margin: 30px auto;
}

form ul {
  list-style-type: none;
  padding: 0;
}

form li {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

form li:last-of-type {
  flex-direction: row-reverse;
}

form li:last-of-type label {
  margin-left: 15px;
}

form input,
form textarea {
  padding: 5px;
  border: 1.5px solid $color-medium;
  border-radius: 5px;
}

form textarea {
  resize: none;
}

form input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border: 3px solid $color-secondary;
}

form input::placeholder {
  color: $color-primary;
}

a.back-to-top-button {
  text-decoration: none;
  margin-top: 30px;
}

a.back-to-top-button h3 {
  margin: 0;
}

button[type="submit"],
.back-to-top-button {
  display: block;
  margin: 10px auto 30px auto;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  background: $color-secondary;
  border: none;
  color: $color-dark;
}

button[type="submit"]:focus,
button[type="submit"]:hover,
.back-to-top-button:focus,
.back-to-top-button:hover {
  background-color: $color-primary;
}

.thank-you {
  margin-bottom: 20px;
}

.privacy-policy-content p:first-of-type {
  margin-top: 30px;
}

/* news page css ////////////////////////////////////////////////////////////////////////*/

.news-img-ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.news-img-ul li {
  margin-top: 50px;
}

/* referral page css ////////////////////////////////////////////////////////////////////*/

a.referral-link {
  color: $color-secondary;
}

a.referral-link:hover {
  color: $color-primary;
}

/* footer css ///////////////////////////////////////////////////////////////////////////*/

footer {
  flex-shrink: 0;
  margin-top: 0px;
}

footer ul {
  width: 90%;
  margin: 50px auto 0 auto;
  padding: 40px 0;
  border-top: solid 1.5px $color-medium;
}

footer a {
  color: $color-dark;
  text-decoration: none;
  width: 550px;
  max-width: 550px;
}

footer a:hover {
  color: $color-secondary;
}

// social media icons

.fa {
  padding: 5px;
  margin: 5px 0;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  background-color: $color-dark;
  color: $color-light;
}

.fa:hover,
.fa:focus {
  background-color: $color-medium;
  color: $color-dark;
}

/* Media queries /////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 355px) {
  .hex-pattern-right {
    display: none;
  }
}

@media screen and (min-width: 400px) {
  body {
    font-size: 1.1em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.2em;
  }

  .modal-image-open,
  .modal-image-close,
  #previous-button,
  #next-button {
    width: 56px;
    height: 65px;
  }

  .main-title-div h1 {
    font-size: 4em;
    margin-bottom: 10px;
  }

  form {
    width: 80%;
  }

  form ul {
    margin: 0 auto;
  }
}

@media screen and (min-width: 475px) {
  .main-title-div h1 {
    font-size: 5em;
  }
  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    font-size: 1.2em;
  }

  .banner-headline {
    top: 80%;
    left: 14%;
  }
}

@media screen and (min-width: 550px) {
  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }
  main p,
  main ul,
  .news-img-ul li img {
    width: 90%;
  }

  .profile-img {
    width: 179px;
    height: 204px;
  }

  .work-text a > img {
    width: 179px;
  }
}

@media screen and (min-width: 600px) {
  /*example work images ///////////////////////////*/

  .modal-image-open,
  .modal-image-close,
  #previous-button,
  #next-button {
    width: 64px;
    height: 74px;
  }

  #bochi-bochi-img {
    background-image: url("../img/bochi-bochi-tablet.png");
  }

  #brewces-img {
    background-image: url("../img/brewces-tablet.png");
  }

  #applications-img {
    // background-image: url("../img/regapp-tablet.png");
    background-image: url("../img/scp_desktop.png");
    height: 597px;
  }
}

@media screen and (min-width: 650px) {
  main p,
  main ul,
  .news-img-ul li img {
    width: 80%;
  }
  .stand-out-content-div {
    width: 80%;
  }
}

@media screen and (min-width: 750px) {
  .desktop-header {
    display: flex;
    justify-content: space-around;
  }

  .desktop-header li:hover {
    cursor: pointer;
    color: $color-secondary;
  }

  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    font-family: "Abel", sans-serif;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    padding: 0;
  }

  .modal-image-open {
    display: none;
  }

  form {
    width: 70%;
  }
}

@media screen and (min-width: 800px) {
  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.4em;
  }

  #bochi-bochi-img {
    // background-image: url("../img/bochi-bochi2.png");
    background-image: url("../img/bochi_bochi_desktop.png");
    height: 597px;
  }

  #brewces-img {
    // background-image: url("../img/brewces2.png");
    background-image: url("../img/brewces_desktop.png");
    height: 597px;
  }

  //.work-img {
  //width: 85%;
  //height: 600px;
  //}
}

@media screen and (min-width: 850px) {
  .main-title-div h2 {
    margin-top: 15px;
  }
  .treetops-name-div {
    display: flex;
  }
  .treetops-name-div h1:first-of-type {
    margin-right: 25px;
  }
  .banner-headline {
    top: 85%;
    left: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .work-img {
    height: 400px;
  }
}

@media screen and (min-width: 1115px) {
  .work-text {
    max-width: 965px;
  }
}

@media screen and (min-width: 1260px) {
  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    font-size: 1.3em;
  }

  .work-text > .stand-out-content-div {
    margin: 40px 10px;
  }
}
