<ul class="footer-ul">
  <li tabindex="0">Treetops Tech Ltd. 2019</li>
  <li tabindex="0">james.vickers@treetops.tech</li>
  <li tabindex="0">hannah.vickers@treetops.tech</li>
  <li tabindex="0">01538 266395</li>
  <li>
    <a href="#" class="fa fa-facebook"></a>
  </li>
  <li tabindex="0">All rights reserved</li>
</ul>
