<ul class="footer-ul">
  <li tabindex="0" class="blur-focus">Treetops Tech Ltd. 2019</li>
  <li tabindex="0" class="blur-focus">james.vickers@treetops.tech</li>
  <li tabindex="0" class="blur-focus">hannah.vickers@treetops.tech</li>
  <li tabindex="0" class="blur-focus">01538 266395</li>
  <li>
    <a href="#" class="fa fa-facebook"></a>
  </li>
  <li tabindex="0" class="blur-focus">All rights reserved</li>
</ul>
