<div class="footer-contact">
  <ul class="footer-ul">
    <li tabindex="0" class="blur-focus"><a href="/contact">Contact us</a></li>
    <li tabindex="0" class="blur-focus">
      <a href="mailto:james.vickers@treetops.tech"
        >james.vickers@treetops.tech</a
      >
    </li>
    <li tabindex="0" class="blur-focus">
      <a href="mailto:hannah.vickers@treetops.tech"
        >hannah.vickers@treetops.tech</a
      >
    </li>
    <li tabindex="0" class="blur-focus">01538 266395</li>
    <li>
      <a
        href="https://www.facebook.com/treetopstech"
        target="_blank"
        class="fa fa-facebook"
      ></a>
    </li>
  </ul>
</div>

<div class="footer-links">
  <ul class="footer-ul">
    <li tabindex="0" class="blur-focus"><a href="/about">About</a></li>
    <li tabindex="0" class="blur-focus"><a href="/work">Work</a></li>
    <li tabindex="0" class="blur-focus"><a href="/values">Values</a></li>
    <li tabindex="0" class="blur-focus"><a href="/news">News</a></li>
    <li tabindex="0" class="blur-focus"><a href="/blog">Articles</a></li>
  </ul>
</div>

<div class="footer-copyright">
  <ul class="footer-ul">
    <li tabindex="0" class="blur-focus">Treetops Tech Ltd. 2019</li>
    <li tabindex="0" class="blur-focus">All rights reserved</li>
  </ul>
</div>
