<div class="footer-contact">
  <ul class="footer-ul">
    <li tabindex="0" class="blur-focus"><a href="/contact">Contact us</a></li>
    <li tabindex="0" class="blur-focus">
      <a href="mailto:support@treetops.tech">support@treetops.tech</a>
    </li>

    <li tabindex="0" class="blur-focus">01538 266395</li>
    <li>
      <a
        href="https://www.facebook.com/treetopstech"
        target="_blank"
        class="fa fa-facebook"
      ></a>
    </li>
    <li tabindex="0" class="blur-focus">Treetops Tech Ltd. 2019</li>
    <li tabindex="0" class="blur-focus">All rights reserved</li>
  </ul>
</div>
