<ul class="footer-ul">
    <li>01538 266395</li>
    <li>hannah.vickers@treetops.tech </li> 
    <li>james.vickers@treetops.tech</li>  
    <li>Copyright &copy 2019 Treetops Tech Ltd.</li>
    <li>All rights reserved.</li>
</ul>
