        <ul class="desktop-header-ul">
                <li onclick="location.href='/about'">About</li>
                <li onclick="location.href='/work'">Work</li>
                <li class="nav-logo-img">
                    <img src="img/snip-TTT.PNG" alt="Treetops Tech logo" onclick="location.href='/'">
                </li>
                <li onclick="location.href='/values'">Values</li>
                <li onclick="location.href='/contact'">Contact</li>

        </ul>

        <div class="mobile-nav-modal">
            <ul class="mobile-header-ul">
                <li>
                    <img src="img/white-arrow.PNG" alt="Treetops Tech logo" onclick="location.href='/'">
                </li>                
                <li onclick="location.href='/about'">About</li>
                <li onclick="location.href='/work'">Work</li>
                <li onclick="location.href='/values'">Values</li>
                <li onclick="location.href='/contact'">Contact</li>
            </ul>
        </div>