<div class="desktop-header" >
  <div>
    <a class="screen-reader-main" href="#main-content" tabindex="1">Skip to Main Content</a>
    <a class="screen-reader-footer" href="#footer" tabindex="1">Skip to Footer</a>
  </div>
  <ul class="desktop-nav-ul-left">
    <li tabindex="1" aria-label="Clickable link to the About page"><a href="/about">About</a></li>
    <li tabindex="1" aria-label="Clickable link to the Work page"><a href="/work">Work</a></li>
  </ul>
  <img
    src="img/TTT_header_logo.svg"
    alt="Treetops Tech logo; seven small hexagons arranged in a circle."
    onclick="location.href='/'"
    tabindex="1"
    aria-label="Treetops tech logo. Navigation link to homepage."
  />
  <ul class="desktop-nav-ul-right">
    <li tabindex="1" aria-label="Clickable link to the Values page"><a href="/values" >Values</a></li>
    <li tabindex="1" aria-label="Clickable link to the Contact page"><a href="/contact">Contact</a></li>
  </ul>
</div>

<img
  class="modal-image-open"
  src="img/hex-button-left-color.png"
  alt="button pointing left to open nav menu"
  id="openMenu"
/>
