        <div class="desktop-header">
            <ul class="desktop-nav-ul-left">
                <li onclick="location.href='/about'">About</li>
                <li onclick="location.href='/work'">Work</li>
            </ul>

            <div class="nav-logo">
                <img src="img/logo-placeholder.PNG" alt="Treetops Tech logo" onclick="location.href='/'">
                <h1>Treetops Tech</h1>
            </div>

            <ul class="desktop-nav-ul-right">
                <li onclick="location.href='/values'">Values</li>
                <li onclick="location.href='/contact'">Contact</li>
            </ul>
            <img src="img/brown-arrow.PNG" alt="button to show menu" id="openMenu" />
        </div>

    


        
         