<ul class="desktop-header-ul">
  <li onclick="location.href='/about'">About</li>
  <li onclick="location.href='/work'">Work</li>
  <li class="nav-logo-img">
    <img
      src="img/snip-TTT.PNG"
      alt="Treetops Tech logo"
      onclick="location.href='/'"
    />
  </li>
  <li onclick="location.href='/values'">Values</li>
  <li onclick="location.href='/contact'">Contact</li>
</ul>
<img src="img/brown-arrow.PNG" alt="button to show menu" id="openMenu" />
