<img src="img/snip-TTT.PNG" alt="Treetops Tech logo" onclick="location.href='/welcome'">
    <ul>
        <li>
            <button>About</button>
            <ul>
                <li onclick="location.href='/team'">The Team</li>
                <li onclick="location.href='/values'">Our Values</li>
            </ul>
        </li>
        <li>
            <button>Services</button>
            <ul>
                <li onclick="location.href='/services'">Services</li>
                <li onclick="location.href='/examples'">Examples Of Our Work</li>
            </ul>
        </li>
        <li>
            <button>Contact</button>
            <ul>
                <li onclick="location.href='/details'">Our Details</li>
                <li onclick="location.href='/enquire'">Enquiry Form</li>
            </ul>
        </li>
    </ul>