<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-142712964-1"
></script>

<!-- Civic cookie control-->
<script src="https://cc.cdn.civiccomputing.com/8/cookieControl-8.x.min.js"></script>
<script src="/cookie.js"></script>

<!-- Hotjar Tracking Code for https://www.treetops.tech/ -->
<script>
  (function(h, o, t, j, a, r) {
    h.hj =
      h.hj ||
      function() {
        (h.hj.q = h.hj.q || []).push(arguments);
      };
    h._hjSettings = { hjid: 1485556, hjsv: 6 };
    a = o.getElementsByTagName("head")[0];
    r = o.createElement("script");
    r.async = 1;
    r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
    a.appendChild(r);
  })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
</script>

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, height=device-height, initial-scale=1.0"
/>
<meta
  name="description"
  content="Websites, Applications and Freelance Development"
/>
<title>Treetops Tech</title>
<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="img/favicon_io/favicon.ico"
/>
<link
  href="https://fonts.googleapis.com/css?family=Share+Tech+Mono"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Overpass"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Abel&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
