        <div class="desktop-header">
            <ul class="desktop-nav-ul-left">
                <li onclick="location.href='/about'">About</li>
                <li onclick="location.href='/work'">Work</li>
            </ul>
                <img src="img/logo-placeholder.PNG" alt="Treetops Tech logo" onclick="location.href='/'">
            <ul class="desktop-nav-ul-right">
                <li onclick="location.href='/values'">Values</li>
                <li onclick="location.href='/contact'">Contact</li>
            </ul>
        </div>

        <img class="model-open-arrow" src="img/brown-arrow.PNG" alt="button pointing left to open nav menu" id="openMenu" />

    


        
         