<div class="desktop-header">
  <ul class="desktop-nav-ul-left">
    <li onclick="location.href='/about'">About</li>
    <li onclick="location.href='/work'">Work</li>
  </ul>
  <img
    src="img/TTT_header_logo.svg"
    alt="Treetops Tech logo; seven small hexagons arranged in a circle."
    onclick="location.href='/'"
  />
  <ul class="desktop-nav-ul-right">
    <li onclick="location.href='/values'">Values</li>
    <li onclick="location.href='/contact'">Contact</li>
  </ul>
</div>

<img
  class="modal-image-open"
  src="img/hex-button-left-color.png"
  alt="button pointing left to open nav menu"
  id="openMenu"
/>
