<div class="mobile-nav-modal modal-hide">
    <img
      src="img/hex-button-right-color.png"
      alt="white arrow pointing right to close nav menu"
      class="model-image-close"
      id="closeMenu"
    />
    <ul>
      <li onclick="location.href='/about'">About</li>
      <li onclick="location.href='/work'">Work</li>
      <li onclick="location.href='/values'">Values</li>
      <li onclick="location.href='/contact'">Contact</li>
    </ul>
</div>
