<div class="mobile-nav-modal modal-hide">
  <ul class="mobile-header-ul">
    <li>
      <img
        src="img/white-arrow.PNG"
        alt="button to hide menu"
        onclick="location.href='/'"
      />
    </li>
    <li onclick="location.href='/about'">About</li>
    <li onclick="location.href='/work'">Work</li>
    <li onclick="location.href='/values'">Values</li>
    <li onclick="location.href='/contact'">Contact</li>
  </ul>
</div>
