<div class="mobile-nav-modal modal-hide">
    <div class="mobile-header-ul">
        <img src="img/white-arrow.PNG" alt="white arrow pointing right to close nav menu" id="closeMenu">
        <ul>
            <li onclick="location.href='/about'">About</li>
            <li onclick="location.href='/work'">Work</li>
            <li onclick="location.href='/values'">Values</li>
            <li onclick="location.href='/contact'">Contact</li>
        </ul>
    </div>
</div>
