<div class="mobile-nav-modal modal-hide">
    <img
      src="img/hex-button-right-color.png"
      alt="Arrow pointing to the right to close the navigation menu"
      class="modal-image-close blur-focus"
      id="closeMenu"
      tabindex="-1"
    />
    <ul>
      <li aria-label="Clickable link to the About page"><a href="/about">About</a></li>
      <li aria-label="Clickable link to the Work page"><a href="/work">Work</a></li>
      <li aria-label="Clickable link to the Values page"><a href="/values" >Values</a></li>
      <li aria-label="Clickable link to the Contact page"><a href="/contact">Contact</a></li>
    </ul>
</div>
