/* Sass color variables //////////////////////////////////////////////////////////////*/
/* Main styles ///////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: title-font;
  src: url("../fonts/Vattican.ttf"); }

.work-text li img {
  height: 205px;
  width: 179px; }

* {
  box-sizing: border-box; }

html {
  min-height: 100%; }

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  border: 20px solid #ffffff;
  background: #efefef;
  color: #383838; }

h3 {
  font-family: "title-font";
  font-size: 0.7em; }

header {
  margin-top: 30px; }

main {
  align-items: center;
  margin: 40px auto;
  width: 90%;
  /*max-width: 525px;*/
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

main p {
  width: 80%;
  max-width: 550px; }

.main-title-div {
  margin: auto; }

.main-title-div h1 {
  margin: 0;
  text-align: center; }

.main-title-div h2 {
  font-family: "Abel", sans-serif;
  margin: 0 auto;
  text-align: center; }

.mobile-header-ul {
  height: 100%; }

.mobile-header-ul ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center; }

.mobile-header-ul li {
  margin-top: 20px; }

h1 {
  font-family: "Share Tech Mono", monospace;
  font-size: 2em; }

.title-index {
  font-family: "title-font";
  font-size: 7em;
  color: #383838;
  text-shadow: 2px 2px 0px rgba(255, 224, 0, 0.8); }

h2 {
  font-size: 1.6em; }

.hex-pattern-left,
.hex-pattern-right {
  position: absolute;
  bottom: 20px;
  opacity: 0.15; }

.hex-pattern-left {
  /*height: 500px;*/
  left: 20px; }

.hex-pattern-right {
  /*height: 370px;*/
  right: 20px; }

.desktop-header {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.desktop-nav-ul-left,
.desktop-nav-ul-right {
  display: none; }

.model-open-arrow {
  position: absolute;
  z-index: 200;
  top: 20px;
  right: 20px; }

.profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%; }

footer {
  flex-shrink: 0;
  font-size: 0.75em; }

footer ul {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  border-top: solid 1px #efefef; }

.banner-div {
  margin-bottom: 30px;
  position: relative;
  text-align: center; }

.banner-img {
  width: 100%; }

.banner-headline {
  font-family: "title-font";
  color: #ffffff;
  width: 200px;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 13.5%;
  transform: translate(-50%, -50%); }

.stand-out-content-div {
  align-items: center;
  width: 80%;
  max-width: 550px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /*background-image: url("/img/hexellence.png");*/
  border-radius: 5%;
  margin: 40px 0; }

.stand-out-content-div h3 {
  margin: 40px 0 30px 0; }

.stand-out-content-div img {
  margin-bottom: 30px; }

.stand-out-content-div p {
  width: 80%;
  margin: 0 0 20px 0; }

.stand-out-content-div p:last-child {
  margin-bottom: 40px; }

/*example work images /////////////////*/
#bochi-bochi-img {
  background-image: url("../img/bochi-bochi-mobile.png"); }

#brewces-img {
  background-image: url("../img/brewces-mobile.png"); }

.work-img {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-grow: 2;
  min-width: 320px;
  min-height: 550px; }

.work-text {
  font-family: "Overpass", sans-serif;
  list-style: none;
  text-align: center; }

.work-text li:hover {
  color: #8cd4ff;
  cursor: pointer; }

/* Modal CSS /////////////////////////////////////////////////////////////////////////////*/
.mobile-nav-modal {
  font-family: "Abel", sans-serif;
  font-size: 1.2em;
  z-index: 300;
  width: 100%;
  height: 100%;
  border: 20px solid #cfcfcf;
  background: #383838;
  color: #ffffff;
  opacity: 0.7; }

.modal-hide {
  transform: translate(-100%, -100%);
  display: none; }

.modal-show {
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  animation-name: animatemodal;
  animation-duration: 0.5s;
  opacity: 0.95; }

/* modal animation/////// */
@keyframes animatemodal {
  from {
    /*opacity: 0.7;*/
    transform: translate(100%, 0%); }
  to {
    /*opacity: 0.95;*/
    transform: translate(0%, 0%); } }

/* Media queries /////////////////////////////////////////////////////////////////////////*/
@media screen and (min-width: 400px) {
  body {
    font-size: 14px; }
  h3 {
    font-size: 0.8em; } }

@media screen and (min-width: 475px) {
  body {
    font-size: 16px; }
  h3 {
    font-size: 0.8em; } }

@media screen and (min-width: 550px) {
  body {
    font-size: 16px; }
  h3 {
    font-size: 1em; } }

@media screen and (min-width: 600px) {
  /*example work images ///////////////////////////*/
  #bochi-bochi-img {
    background-image: url("../img/bochi-bochi-tablet.png"); }
  #brewces-img {
    background-image: url("../img/brewces-tablet.png"); }
  .work-img {
    min-width: 400px;
    min-height: 300px; } }

@media screen and (min-width: 650px) {
  h3 {
    font-size: 1.2em; } }

@media screen and (min-width: 750px) {
  .desktop-header {
    display: flex;
    justify-content: space-around; }
  .desktop-header li:hover {
    color: #8cd4ff;
    cursor: pointer; }
  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    font-family: "Abel", sans-serif;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    padding: 0; }
  .model-open-arrow {
    display: none; } }

@media screen and (min-width: 800px) {
  /*example work images ///////////////////////////*/
  h3 {
    font-size: 1.5em; }
  #bochi-bochi-img {
    background-image: url("../img/bochi-bochi2.png"); }
  #brewces-img {
    background-image: url("../img/brewces2.png"); }
  .work-img {
    width: 100%;
    height: 600px;
    background-position: center; } }

@media screen and (min-width: 750px) {
  .desktop-header {
    display: flex;
    justify-content: space-around; }
  .desktop-nav-ul-left,
  .desktop-nav-ul-right {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    width: 350px;
    list-style-type: none;
    padding: 0; }
  .model-open-arrow {
    display: none; }
  .hex-pattern-center {
    background-image: url("../img/hex-center-tablet.png");
    height: 396px;
    width: 529px; }
  .hex-pattern-center-text {
    padding: 14.5%; }
  .hex-pattern-center-text h3:first-of-type {
    align-self: flex-start; }
  .hex-pattern-center-text h3:last-of-type {
    align-self: flex-end; } }

@media screen and (min-width: 900px) {
  h3 {
    font-size: 1.6em; } }

@media screen and (min-width: 1000px) {
  .hex-pattern-center {
    background-image: url("../img/hex-center-desktop.png");
    height: 304px;
    width: 520px; }
  .hex-pattern-center-text {
    padding: 0;
    flex-direction: row; }
  .hex-pattern-center-text h3:first-of-type {
    align-self: auto; }
  .hex-pattern-center-text h3:last-of-type {
    align-self: auto; }
  h3 {
    font-size: 1.8em; } }
