body {
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;   
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-content {
    width: 90%;
    max-width: 525px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-page-hex-include {
  width: 100%;
}

.index-page-hex-exclude {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hex {
    position: absolute;
    height: 700px;
    bottom: 0;
}

.desktop-header {
    width: 80%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
   width: 300px
}

.nav-logo h1 {
    min-width: 225px;
}

.desktop-nav-ul-left,
.desktop-nav-ul-right {
    width: 200px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
   
}

.footer {
    flex-shrink: 0;
}

.footer-flex {
    background: #8F8F8F;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
}

main ul,
.mobile-header-ul,
.nav-logo,
.footer-flex ul {
    list-style-type: none;
}

.nav-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background: #171717;
    color: #fff;
}

.desktop-header li:not(.nav-logo) {
    display: none;
}

.mobile-nav-modal {
    position: absolute;
    z-index: 2;
    width: 100%;
    flex-grow: 1;
    background: #8F8F8F;
    color: #fff;
    opacity: 0.7;
}

.profile-img {
    height: 200px;
    width: 300px;
    border: solid 10px #ABD8FF;
}

main,
.footer-flex ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}


@media screen and (min-width: 700px) {
    .mobile-header-ul {
       display: none;
    }

.mobile-nav-modal {
    background: none;
}

    .desktop-header li:not(.nav-logo) {
        display: block;
        height: 25px;
        border-bottom: 1px solid #fff;
    }

    .desktop-header li:not(.nav-logo):hover {
        display: block;
        height: 25px;
        border-bottom: 1px solid #FFC600;
    }
    
    /* targets li to left of .nav-log-img */

    .desktop-header-ul li:nth-child(-n+2) {
        padding-left: 30px;
    }

    /* targets li to right of .nav-log-img */

    .desktop-header-ul li:nth-child(n+4) {
    padding-right: 30px;
    }
}
