* {
    box-sizing: border-box;
}

html {
   min-height: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border: 20px solid #CFCFCF;
}

main {
    flex-grow: 1;
    display: flex;
}

.index-page-content {
    flex: 1 0 auto;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    max-width: 525px;
}

.index-page-content h1 {
    margin-bottom: 30%;
}

footer {
    background: red;
    flex-shrink: 0;
}

footer ul {
    margin: 0;
}

h1 {
    font-family: 'Share Tech Mono', monospace;
}

.hex-pattern-left,
.hex-pattern-right {
    position: absolute;
    bottom: 20px;
    opacity: 0.15;
}

.hex-pattern-left {
    height: 500px;
}

.hex-pattern-right {
    height: 370px;
    right: 20px;
}

.desktop-header {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.desktop-nav-ul-left,
.desktop-nav-ul-right {
    display: none;
}

.model-open-arrow {
    position:absolute;
    z-index: 200;
    top: 20px;
    right: 20px;
}

.profile-img {
    height: 200px;
    width: 200px;
}

/* Modal CSS ************************************************************************/

.mobile-nav-modal {
    z-index: 300;
    width: 100%;
    height: 100%;
    border: 20px solid #CFCFCF;
    background: #383838;
    color: #fff;
    opacity: 0.7;
}

.modal-hide {
    transform: translate(-100%, -100%);
    display: none;
  }
  
  .modal-show {
    transform: none;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;
    opacity: 0.95;
  }

/* Media queries ******************************************************************/

@media screen and (min-width: 700px) {

    .desktop-header {
        display: flex;
        justify-content: space-around;
    }

    .desktop-nav-ul-left,
    .desktop-nav-ul-right {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
        list-style-type: none;
        padding: 0;     
    }

    .model-open-arrow {
        display: none;
    }
}