<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" 
             src="/img/fern-1200-blue.png" 
             alt="close up of fern leaves" 
             aria-hidden="true" />
        <h2 class="banner-headline" tabindex="1">About</h2>
      </div>

      <img class="scroll-icon" 
           src="/img/scroll-icon-opacity40.png" 
           alt="Icon directing the user to scroll down the page" 
           aria-hidden="true" />
      
      <p tabindex="1">
        Based in the Staffordshire Moorlands in a peaceful location, we have
        the perfect base to focus on your project.
      </p>
      <p tabindex="1">
        With a wide industry knowledge base from agriculture to pharmaceuticals, our
        team is ready to build your ideas into fully formed and functional
        products.
      </p>

      <div id="first-spacing-div" class="spacing-div">
        <img class="" 
             src="/img/hex-falling-line-left.png" 
             alt="hexagonal pattern in background in the center of the screen"
             aria-hidden="true" />
      </div>
      
      <h2 tabindex="1">The Team</h2>

      <div class="stand-out-content-div" tabindex="1">
        <h3>James, Developer</h3>
        <img class="profile-img" 
             src="/img/profile-jay-grey.svg"
             alt="profile image of James Vickers, Developer" />
        <p>Full-stack developer with server management skills.</p>
        <p>
          Holistic approach, incorporating his knowledge of User Experience and
          Accessibility.
        </p>
        <p>
          James has a passion for new technologies and creating innovative
          solutions.
        </p>
      </div>
      
      <div class="spacing-div">
        <img class=""
             src="/img/hex-falling-line-right.png" 
             alt="hexagonal pattern in background in the center of the screen" 
             aria-hidden="true"/>
      </div>


      <div class="stand-out-content-div" tabindex="1">
        <h3>Hannah, Developer</h3>
        <img class="profile-img" 
             src="/img/profile-han-grey.svg" 
             alt="profile image of Hannah Vickers, Developer" />
        <p>Loves all things JavaScript, both front and back end.</p>
        <p>Prides herself on being up to date with the latest technologies.</p>
        <p>Hannah finds elegant solutions to complex problems.</p>
      </div>

      <div class="spacing-div">
        <img src="/img/hex-falling-line-left.png" 
             alt="hexagonal pattern in background in the center of the screen" 
             aria-hidden="true"/>
      </div>

      <div class="stand-out-content-div" tabindex="1">
        <h3>The Design Team</h3>
        <img class="profile-img" 
             src="/img/profile-designer-grey.svg" 
             alt="profile image of a designer" />
        <p>We contract the best designers in the field for each project.</p>
        <p>This core team provides cutting edge design principles, to enhance user experience and achieve your goals.
        </p>
      </div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
