<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/fern-1200-blue.png" alt="" />
        <h2 class="banner-headline">About</h2>
      </div>

      <img class="scroll-icon" src="/img/scroll-icon-opacity40.png" alt="scroll down icon" />
      
      <p>
        Based in Staffordshire Moorlands with views over rolling hills, we have
        the perfect base to devote concentration and add inspiration to your
        project.
      </p>
      <p>
        Wide industry knowledge base from agriculture to pharmaceuticals, our
        team is ready to build your ideas into fully formed and functional
        products.
      </p>

      <div id="first-spacing-div" class="spacing-div">
        <img class="" src="/img/hex-falling-line-left.png" alt="faint hexagons falling downwards" />
      </div>
      
      <h2>The Team</h2>

      <div class="stand-out-content-div">
        <h3>James, Developer</h3>
        <img class="profile-img" src="/img/profile-jay-grey.png" alt="" />
        <p>Full-stack developer with Server management experience.</p>
        <p>
          Holistic approach, incorporating his knowledge of User Experience and
          Accessibility needs.
        </p>
        <p>
          James has a passion for new technologies and creating innovative
          solutions.
        </p>
      </div>
      
      <div class="spacing-div">
        <img class="" src="/img/hex-falling-line-right.png" alt="faint hexagons falling downwards" />
      </div>


      <div class="stand-out-content-div">
        <h3>Hannah, Developer</h3>
        <img class="profile-img" src="/img/profile-han-grey.png" alt="" />
        <p>Loves all things JavaScript, both front and back end.</p>
        <p>Prides herself on being up to date with the latest technologies.</p>
        <p>Hannah finds elegant solutions to complex problems.</p>
      </div>

      <div class="spacing-div">
        <img src="/img/hex-falling-line-left.png" alt="faint hexagons falling downwards" />
      </div>

      <div class="stand-out-content-div">
        <h3>The Design Team</h3>
        <img class="profile-img" src="/img/profile-designer-grey.png" alt="" />
        <p>We contract the best designers in the field for each project.</p>
        <p>This core team provide cutting edge design principles, to improve site interactions and enhance user experience.
        </p>
      </div>

    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
