<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/fern-1200-blue.png" alt="" />
        <h3 class="banner-headline">About</h3>
      </div>

      <img class="scroll-icon" src="/img/scroll-icon.png" alt="scroll down icon" />


      <p>We are awesome because...PRACTICE</p>

      <h3>The Team</h3>
      <p>
        Based in Staffordshire Moorlands with views over rolling hills, we have
        the perfect base to devote concentration and add inspiration to your
        project.
      </p>
      <p>
        Wide industry knowledge base from agriculture to pharmaceuticals, our
        team is ready to build your ideas into fully formed and functional
        products.
      </p>

      <div class="stand-out-content-div">
        <h3>James</h3>
        <img class="profile-img" src="/img/james_headshot_square.jpg" alt="" />
        <p>Full-stack developer with Server management experience.</p>
        <p>
          Holistic approach, incorporating his knowledge of User Experience and
          Accessibility needs.
        </p>
        <p>
          James has a passion for new technologies and creating innovative
          solutions.
        </p>
      </div>

      <div class="stand-out-content-div">
        <h3>Hannah</h3>
        <img class="profile-img" src="/img/hannah-profile.jpg" alt="" />
        <p>Loves all things JavaScript, both front and back end.</p>
        <p>Prides herself on being up to date with the latest technologies.</p>
        <p>Hannah finds elegant solutions to complex problems.</p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
