<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h2>
        Treetops.tech
      </h2>
      <p>We are awesome because...</p>

      <h2>The Team</h2>
      <p>
        Based in Staffordshire Moorlands with views over rolling hills, we have
        the perfect base to devote concentration and add inspiration to your
        project.
      </p>
      <p>
        Wide industry knowledge base from agriculture to pharmaceuticals, our
        team is ready to build your ideas into fully formed and functional
        products.
      </p>

      <img class="profile-img" src="/img/jay-profile.jpg" alt="" />
      <h3>James</h3>
      <p>Full-stack developer with Server management experience.</p>
      <p>
        Holistic approach, incorporating his knowledge of User Experience and
        Accessibility needs.
      </p>
      <p>
        James has a passion for new technologies and creating innovative
        solutions.
      </p>

      <img class="profile-img" src="/img/hannah-profile.jpg" alt="" />
      <h3>Hannah</h3>
      <p>Loves all things JavaScript, both front and back end.</p>
      <p>Prides herself on being up to date with the latest technologies.</p>
      <p>Hannah finds elegant solutions to complex problems.</p>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
