<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="previous-next-button-div">
                <image onclick="location.href='/bochi-bochi'" src="/img/hex-button-left-color.png" alt="hexagonal button directing to the previous page">
                <image onclick="location.href='/freelance'" src="/img/hex-button-right-color.png" alt="hexagonal button directing to the next page">
            </div>

            <h2>Applications</h2>
        </main>
    
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>
