<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body id="top-of-page">
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="banner-div">
        <img class="banner-img" src="/img/book-1200-blue.png" alt="close up of an open book on grass" aria-hidden="true" />
        <h2 class="banner-headline" tabindex="0" class="blur-focus">Articles</h2>
      </div>

      <img id="blogListStart" class="scroll-icon" src="/img/scroll-icon-opacity40.png" alt="Icon directing the user to scroll down the page" aria-hidden="true" />

      <p>
        Click on one of the titles below to read the full post. New articles added regularly for you to enjoy.
      </p>

      <% blogPosts.forEach(function(blog){ %>
      <a class="blog-title" href="/blog/<%= blog._id %>">
        <div class="stand-out-content-div blur-focus" tabindex="0">
          <h3>
            <%= blog.title %>
          </h3>
        </div>
      </a>
      <% }) %>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
