<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="banner-div">
        <img class="banner-img" 
             src="/img/book-1200-blue.png" 
             alt="close up of an open book on grass"
             aria-hidden="true" />
        <h2 class="banner-headline" tabindex="0" class="blur-focus">Blog</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
        aria-hidden="true"
      />

    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
