<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="previous-next-button-div">
        <image onclick="location.href='/brewces'" id="previous-button" src="/img/hex-button-left-color.png" alt="hexagonal button directing to the previous page">
        <h2>Blog Sites</h2>
        <image onclick="location.href='/applications'" id="next-button" src="/img/hex-button-right-color.png" alt="hexagonal button directing to the next page">
      </div>
      
      <div id="bochi-bochi-img" class="work-img" alt="Example pages from Bochi-Bochi blog website"></div>
      
      <div class="stand-out-content-div">
        <h3>&quot;Happily blogging away now, thanks!&quot;</h3>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
