<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body id="top-of-page">
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="previous-next-button-div">
        <image onclick="location.href='/brewces'"
               id="previous-button" 
               src="/img/hex-button-left-color.png" 
               alt="hexagonal button linking to the previous work example page"
               tabindex="0" class="blue-focus">
        <h2 tabindex="0" class="blur-focus">Personal Sites</h2>
        <image onclick="location.href='/applications'" 
               id="next-button" 
               src="/img/hex-button-right-color.png" 
               alt="hexagonal button linking to the next work example page"
               tabindex="0" class="blur-focus">
      </div>
      
      <div id="bochi-bochi-img" 
           class="work-img blur-focus" 
           alt="Example image of pages from the Bochi-Bochi blog website, displayed on desktop, desktop and mobile devices."
           aria-label="Example image of pages from the Bochi-Bochi blog website, displayed on desktop, desktop and mobile devices."
           tabindex="0"></div>
      <p>Got a new venture that you need help getting off the ground, like a blog, forum or online portfolio?</p>
      <p>We can help.</p>
      
      <div class="stand-out-content-div blur-focus" tabindex="0">
        <h3>&quot;Happily blogging away now, thanks!&quot;</h3>
        <p>&#8211 Bochi-Bochi</p>
      </div>
      <% include ../partials/backtotop %>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>

    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
