<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="previous-next-button-div">
        <button onclick="location.href='/freelance'">Previous</button>
        <button onclick="location.href='/bochi-bochi'">Next</button>
      </div>

      <h2>Small business sites</h2>
      <div id="brewces-img" class="work-img"></div>

      <div class="stand-out-content-div">
        <h3>&quot;I love my new business site because..............&quot;</h3>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
