<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body id="top-of-page">
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="previous-next-button-div">
        <image onclick="location.href='/freelance'" 
               id="previous-button" 
               src="/img/hex-button-left-color.png" 
               alt="hexagonal button linking to the previous work example page" 
               tabindex="0" class="blur-focus">
        <h2 tabindex="0" class="blur-focus">Business Sites</h2>
        <image onclick="location.href='/bochi-bochi'" 
               id="next-button" 
               src="/img/hex-button-right-color.png" 
               alt="hexagonal button linking to the next work example page"
               tabindex="0" class="blur-focus">
      </div>

      <div id="brewces-img" 
           class="work-img blur-focus"
           alt="Example image of pages from the Brewce's craft ale website, displayed on desktop, tablet and mobile devices."
           aria-label="Example image of pages from the Brewce's craft ale website, displayed on desktop, tablet and mobile devices."
           tabindex="0">
      </div>

      <p>We love working with small and medium sized organisations, including start ups, charities and those looking to expand into new areas.</p>
      <p>We offer eCommerce sites for online shopping, content managed brochure sites and tailor-made solutions for everything in between.</p>


      <div class="stand-out-content-div blur-focus" tabindex="0">
        <h3>&quot;Thanks for the site guys, we love it!&quot;</h3>
        <p>&#8211 Brewce's Craft Ales</p>
      </div>
      <% include ../partials/backtotop %>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
