<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="previous-next-button-div">
        <image onclick="location.href='/freelance'" id="previous-button" src="/img/hex-button-left-color.png" alt="hexagonal button directing to the previous page">
        <h2>Business Sites</h2>
        <image onclick="location.href='/bochi-bochi'" id="next-button" src="/img/hex-button-right-color.png" alt="hexagonal button directing to the next page">
      </div>

      <div id="brewces-img" class="work-img"></div>

      <div class="stand-out-content-div">
        <h3>&quot;I love my new business site because..............&quot;</h3>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
