<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="previous-next-button-div">
        <image onclick="location.href='/freelance'" 
               id="previous-button" 
               src="/img/hex-button-left-color.png" 
               alt="hexagonal button linking to the previous work example page" 
               tabindex="1">
        <h2 tabindex="1">Business Sites</h2>
        <image onclick="location.href='/bochi-bochi'" 
               id="next-button" 
               src="/img/hex-button-right-color.png" 
               alt="hexagonal button linking to the next work example page"
               tabindex="1">
      </div>

      <div id="brewces-img" 
           class="work-img"
           alt="Example image of pages from the Brewce's craft ale website, displayed on desktop, tablet and mobile devices."
           aria-label="Example image of pages from the Brewce's craft ale website, displayed on desktop, tablet and mobile devices."
           tabindex="1">
      </div>

      <div class="stand-out-content-div" tabindex="1">
        <h3>&quot;Thanks for the site guys, we love it!&quot;</h3>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
