
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <div class="main-content">
                <div class="previous-next-div">
                    <button onclick="location.href='/freelance'">Previous</button>
                    <button onclick="location.href='/bochi-bochi'">Next</button>
                </div>
                <h2>Small business sites</h2>
                <img src="/img/brewces.png" alt="Brewce's craft ales site screenshots from desktop, tablet and mobile devices.">
            </div>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>

</html>
