<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" 
             src="/img/flowers-1200-blue.png" 
             alt="close up of a small cluster of flowers"
             aria-hidden="true" />
        <h2 class="banner-headline" tabindex="1">Contact</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
        aria-hidden="true" />

      <p tabindex="1">
        Treetops Tech would love to help spread your
        message and grow your business.
      </p>

      <p tabindex="1">Get in touch to start your journey.</p>

      <div class="stand-out-content-div">
        <form method="POST" action="/send">
          <h3 tabindex="2" aria-label="Complete the following form to contact Treetops Tech">Enquire today</h3>

          <ul>
            <li>
              <label>Name</label>
              <input type="text" 
                     autocomplete="off" 
                     name="name" 
                     required 
                     aria-label="Input area for your Name" />
            </li>
            <li>
              <label>Company Name</label>
              <input type="text" 
                     autocomplete="off"
                     name="company"
                     aria-label="Input area for your Company name" />
            </li>
            <li>
              <label>Email</label>
              <input type="email"
                     autocomplete="off" 
                     name="email" 
                     required 
                     aria-label="Input area for your Email Address" />
            </li>
            <li>
              <label>Telephone</label>
              <input type="text" 
                     autocomplete="off" 
                     name="telephone"
                     aria-label="Input area for your Telephone number" />
            </li>
            <li>
              <label>Enquiry Message</label>
              <textarea type="text" 
                        rows="6" 
                        name="message"
                        aria-label="Text area for your message or enquiry">
              </textarea>
            </li>
            <button type="submit">Submit</button>
          </ul>
        </form>
      </div>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
        />
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
