
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>

        <header>
            <% include ../partials/header %>
        </header>
            
        <main>
            <h1>Contact</h1>
            <p>
                Treetops Tech would love to help grow your business or spread your
                message. Please get in touch to start your journey.
            </p>
            <h2>Enquiry form to go here</h1>
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/modal %>

        <%include ../partials/javascript %>

    </body>

</html>
