
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>
            
        <main>

            <div class="banner-div">
                <img class="banner-img" src="/img/flowers-1200-blue.png" alt="">
                <h3 class="banner-headline">Contact</h3>
            </div>
            
            <img class="scroll-icon" src="/img/scroll-icon-opacity40.png" alt="scroll down icon" />

            <h2>Hi</h2>

            <p>Complete the following confidential form, to start your journey with Treetops Tech.</p>
            <p>Or if you prefer, feel free to call or email us instead.</p>

            <div class="stand-out-content-div">
                <form method="POST" action="/send">
                    <h3>Enquire today</h3>

                    <p>
                        <label>Name</label>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label>Company Name</label>
                        <input type="text" name="company">
                    </p>
                    <p>
                        <label>Email</label>
                        <input type="text" name="email">
                    </p>
                    <p>
                        <label>Telephone</label>
                        <input type="text" name="telephone">
                    </p>
                    <p>
                        <label>Enquiry Message</label>
                        <input type="text" name="message">
                    </p>
                    <button type="submit">Submit</button>
                </form>
            </div>
          

            
            <div id="first-spacing-div" class="spacing-div">
                <img class="" src="/img/hex-falling-line-left.png" alt="faint hexagons falling downwards" />
            </div>

            <p>Treetops Tech would love to help grow your business or spread your
                message. Get in touch to start your journey.</p>
            <p>Get in touch to start your journey.</p>

            <div id="first-spacing-div" class="spacing-div">
                <img class="" src="/img/hex-falling-line-right.png" alt="faint hexagons falling downwards" />
            </div>


        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>
