<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body id="top-of-page">
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="banner-div">
        <img
          class="banner-img"
          src="/img/flowers-1200-blue.png"
          alt="close up of a small cluster of flowers"
          aria-hidden="true"
        />
        <h2 class="banner-headline" tabindex="0" class="blur-focus">Contact</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
        aria-hidden="true"
      />

      <p tabindex="0" class="blur-focus">
        Treetops Tech would love to help spread your message and grow your
        business.
      </p>

      <p tabindex="0" class="blur-focus">Get in touch to start your journey.</p>

      <div class="stand-out-content-div">
        <form id="contactForm" method="POST" action="/send">
          <h3
            tabindex="0"
            class="blur-focus"
            aria-label="Complete the following form to contact Treetops Tech"
          >
            Enquire today
          </h3>

          <ul>
            <li>
              <label aria-hidden="true">Name</label>
              <input
                type="text"
                autocomplete="off"
                name="name"
                required
                tabindex="0"
                aria-label="Input area for your Name"
              />
            </li>
            <li>
              <label aria-hidden="true">Company Name</label>
              <input
                type="text"
                autocomplete="off"
                name="company"
                tabindex="0"
                aria-label="Input area for your Company name"
              />
            </li>
            <li>
              <label aria-hidden="true">Email</label>
              <input
                type="email"
                autocomplete="off"
                name="email"
                required
                tabindex="0"
                aria-label="Input area for your Email Address"
              />
            </li>
            <li>
              <label aria-hidden="true">Telephone</label>
              <input
                type="text"
                autocomplete="off"
                name="telephone"
                tabindex="0"
                aria-label="Input area for your Telephone number"
              />
            </li>
            <li>
              <label aria-hidden="true">Enquiry Message</label>
              <textarea
                type="text"
                rows="6"
                name="message"
                tabindex="0"
                aria-label="Text area for your message or enquiry"
              >
              </textarea>
            </li>
            <li>
              <label aria-hidden="true"
                >I consent for Treetops to store my details for contact
                purposes</label
              >
              <input
                type="checkbox"
                name="consent"
                value="True, I consent."
                required
                tabindex="0"
                aria-label="Checkbox giving consent for Treetops to store my details for contact purposes"
              />
            </li>
            <button type="submit" tabindex="0" class="blur-focus">
              Submit
            </button>
          </ul>
        </form>
      </div>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
          aria-hidden="true"
        />
      </div>
      <% include ../partials/backtotop %>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
