
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>
            
        <main>

            <div class="banner-div">
                <img class="banner-img" src="/img/young-plant-crop.jpg" alt="">
                <h2 class="banner-headline">Contact</h2>
            </div>

            <p>
                Treetops Tech would love to help grow your business or spread your
                message. Please get in touch to start your journey.
            </p>
            <h3>Enquiry form to go here</h3>            
        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>
