<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
      <header>
          <% include ../partials/header %>
      </header>
          
      <main>
        <div class="previous-next-div">
            <button onclick="location.href='/web-apps'">Previous</button>
            <button onclick="location.href='/brewces'">Next</button>
        </div>
        <h2>Freelance</h2>
        <p>
        Our team also has capacity to collaborate on your own existing projects.
        We have expertise in the following areas:
        </p>
        <ul>
            <li>JavaScript development work or de-bugging</li>
            <li>Front-end web development, Wordpress and Google Analytics</li>
            <li>NodeJS, MongoDB and Confirmit</li>
            <li>Remote web developer cover for your own periods of high demand or temporary personnel absence</li>
        </ul>
      </main>
      
      <footer>
          <% include ../partials/footer %>
      </footer>
      <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>

</html>
