<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
      <header>
          <% include ../partials/header %>
      </header>
          
      <main>        
        <div class="previous-next-button-div">
            <image onclick="location.href='/applications'" id="previous-button" src="/img/hex-button-left-color.png" alt="hexagonal button directing to the previous page">
            <h2>Freelance Development</h2>
            <image onclick="location.href='/brewces'" id="next-button" src="/img/hex-button-right-color.png" alt="hexagonal button directing to the next page">
          </div>

        <p class="freelance-first-p">Our team has capacity to collaborate on your existing projects.</p>

        <div id="freelance-stand-out-div" class="stand-out-content-div">
          <p>We have expertise in the following areas:</p>
          <ul class="fleelance-ul">
              <li>HTML, CSS and JavaScript</li>
              <li>Node.js, React Native and MongoDB</li>
              <li>Wordpress, Analytics and Confirmit</li>
          </ul>
        </div>

        <p class="freelance-last-p">Get in touch for more information about what we have to offer.</p>

        <div id="first-spacing-div" class="spacing-div">
          <img class="" src="/img/hex-falling-line-left.png" alt="hexagonal pattern in background in the center of the screen" />
        </div>


      </main>
      
      <footer>
          <% include ../partials/footer %>
      </footer>
      <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>

</html>
