<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
      <header>
          <% include ../partials/header %>
      </header>
          
      <main id="main-content">        
        <div class="previous-next-button-div">
            <image onclick="location.href='/applications'" 
                   id="previous-button" 
                   src="/img/hex-button-left-color.png" 
                   alt="hexagonal button linking to the previous work example page"
                   tabindex="1">
            <h2 tabindex="1">Freelance Development</h2>
            <image onclick="location.href='/brewces'" 
                   id="next-button" 
                   src="/img/hex-button-right-color.png" 
                   alt="hexagonal button linking to the next work example page"
                   tabindex="1">
          </div>

        <p class="freelance-first-p" tabindex="1">Our team has capacity to collaborate on your existing projects.</p>

        <div id="freelance-stand-out-div" 
             class="stand-out-content-div" 
             tabindex="1">
          <p>We have expertise in the following areas:</p>
          <ul class="fleelance-ul">
              <li>HTML, CSS and JavaScript</li>
              <li>Node.js, React Native and MongoDB</li>
              <li>Wordpress, Analytics and Confirmit</li>
          </ul>
        </div>

        <p class="freelance-last-p" tabindex="1">Get in touch for more information about what we have to offer.</p>

        <div id="first-spacing-div" class="spacing-div">
          <img class="" 
               src="/img/hex-falling-line-left.png" 
               alt="hexagonal pattern in background in the center of the screen" 
               aria-hidden="true"/>
        </div>


      </main>
      
      <footer id="footer">
          <% include ../partials/footer %>
      </footer>
      <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>

</html>
