<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body>
         
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="main-title-div">
                <div class="treetops-name-div">
                    <h1>Treetops</h1>
                    <h1>Tech</h1>
                </div>
                <h2>Websites, Applications and Freelance Development</h2>
            </div>
            <!--
            <img class="hex-index-main" src="/img/hex-main-color2.png" alt="hexagon pattern in center of page.">
            -->
         </main>
         <div class="hex-index-div"> 
                <img class="hex-pattern-left" src="/img/hex-index-left.png" alt="hexagonal pattern in background to the left of the page">
                <img class="hex-pattern-right" src="/img/hex-index-right.png" alt="hexagonal pattern in background to the right of the page."> 
         </div>

        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>