<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <img class="hex-pattern-left" src="/img/hex-pattern-left.png" alt="hexagon pattern in background of page.">
            <img class="hex-pattern-right" src="/img/hex-pattern-right.png" alt="hexagon pattern in background of page."> 
            <h1>Treetops Tech</h1>
            
            <div class="hex-pattern-center">
                <div class="hex-pattern-center-text">
                    <h3>Websites and Applications</h3>
                    <h3>Freelance Development</h3>
                </div>
            </div>
        </main>

        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>