<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <img class="typing-img" src="img/typing.jpg" alt="" onclick="location.href='/welcome'">
    <img src="img/snip-TTT.PNG" alt="Treetops Tech logo" onclick="location.href='/welcome'">
    <h1>Treetops.Tech</h1>
      
  </body>
</html>
