<!DOCTYPE html>
<html lang="en">

  <head>
    <% include ../partials/head %>
  </head>

  <body>
      <div class="index-wrapper">
          <div class="message">
            <img class="logo_img" src="img/snip-TTT.PNG" alt="Treetops Tech logo" onclick="location.href='/welcome'">
            <h1 class="logo_text">Treetops.Tech</h1>    
          </div>
      </div>
  </body>

</html>
