<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <!-- header.ejs partial not used on index page to avaoil screen-reader 'Skip to..' from dispalying on this page -->
    <header>
      <div class="desktop-header">
        <ul class="desktop-nav-ul-left">
          <li onclick="location.href='/about'" tabindex="0" class="blur-focus" aria-label="Clickable link to the About page">
            About
          </li>
          <li onclick="location.href='/work'" tabindex="0" class="blur-focus" aria-label="Clickable link to the Work page">
            Work
          </li>
          <li onclick="location.href='/values'" tabindex="0" class="blur-focus" aria-label="Clickable link to the Values page">
            Values
          </li>
        </ul>
        <img
          src="img/TTT_header_logo.svg"
          alt="Treetops Tech logo; seven small hexagons arranged in a circle."
          onclick="location.href='/'"
          tabindex="0"
          class="blur-focus"
          aria-label="Treetops tech logo. Navigation link to homepage."
        />
        <ul class="desktop-nav-ul-right">
          <li onclick="location.href='/news'" tabindex="0" class="blur-focus" aria-label="Clickable link to the News page">
            News
          </li>
          <li onclick="location.href='/blog'" tabindex="0" class="blur-focus" aria-label="Clickable link to the Blog page">
            Articles
          </li>
          <li onclick="location.href='/contact'" tabindex="0" class="blur-focus" aria-label="Clickable link to the Contact page">
            Contact
          </li>
        </ul>
      </div>

      <img class="modal-image-open" src="img/hex-button-left-color.png" alt="button pointing left to open nav menu" id="openMenu" />
    </header>

    <main>
      <div class="main-title-div" tabindex="0" class="blur-focus">
        <div class="treetops-name-div">
          <h1>Treetops</h1>
          <h1>Tech</h1>
        </div>
        <h2>Websites, Applications and Freelance Development</h2>
      </div>
      <!--
            <img class="hex-index-main" src="/img/hex-main-color2.png" alt="hexagon pattern in center of page.">
            -->
    </main>
    <div class="hex-index-div">
      <img class="hex-pattern-left" src="/img/hex-index-left.png" alt="hexagonal pattern in background to the left of the page" aria-hidden="true" />
      <img class="hex-pattern-right" src="/img/hex-index-right.png" alt="hexagonal pattern in background to the right of the page." aria-hidden="true" />
    </div>

    <% include ../partials/modal %> <%include ../partials/javascript %>

    <script>
      function pulse(target) {
        $(target)
          .animate(
            {
              height: "+=7",
              width: "+=7"
            },
            150
          )
          .animate(
            {
              height: "-=7",
              width: "-=7"
            },
            150
          );
      }
      //pulse modal button on home page on load
      $(document).ready(function() {
        setTimeout(function() {
          pulse(".modal-image-open");
          pulse(".modal-image-open");
          pulse(".modal-image-open");
        }, 850);
      });
    </script>
  </body>
</html>
