<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body id="top-of-page">
      <!--<div id="fb-root"></div>-->
      <!-- following src changed from sdk.js to all.js to fix loading bug -->
      <!--<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>-->

    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="banner-div">
        <img class="banner-img" 
             src="/img/bird-1200-blue.png" 
             alt="close up of the top of a pine tree viewed from above"
             aria-hidden="true" />
        <h2 class="banner-headline" tabindex="0" class="blur-focus">News</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
        aria-hidden="true"
      />

      <p tabindex="0" class="blur-focus">
        We are constantly updating this page with our latest news and ideas.
      </p>
      <p tabindex="0" class="blur-focus">
        Follow the Treetops Tech Facebook page <a href="https://www.facebook.com/treetopstech" target="_blank" class="referral-link">here</a> to keep up to date with all our latest announcements, or simply scroll through the feed below.
      </p>
      

      <img
      class="scroll-icon"
      src="/img/scroll-icon-opacity40.png"
      alt="Icon directing the user to scroll down the page"
      aria-hidden="true"
    />

      </div>

      <ul class="news-img-ul">
      <% newsUrls.forEach(function(newsImage){ %>
        <li><%- newsImage %></li>
      <% }) %>
      </ul>

      <div id="first-spacing-div" class="spacing-div">
          <img
            class=""
            src="/img/hex-falling-line-left.png"
            alt="hexagonal pattern in background in the center of the screen"
            aria-hidden="true"
          />
        </div>

      <!--
      <div class="facebook-container">
        <div 
          class="fb-page" 
          data-href="https://www.facebook.com/treetopstech" 
          data-tabs="timeline" 
          data-width="500" 
          data-height="750" 
          data-small-header="false" 
          data-adapt-container-width="true" 
          data-hide-cover="true" 
          data-show-facepile="false">
          <blockquote cite="https://www.facebook.com/treetopstech" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/treetopstech">Treetops Tech</a>
          </blockquote>
        </div>
      </div>
      -->
      <% include ../partials/backtotop %>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
