<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <h2 class="privacy-title">Referral Policy</h2>
      <div class="stand-out-content-div privacy-policy-content" tabindex="0" class="blur-focus">
            <p>Treetops tech loves when our client base grows organically.</p>
            <p>For this reason, we offer a £500 referral gift to any individual who puts us in contact with a future client.</p>
            <p>The person making the referral will be eligible for the monetary incentive when the referred potential client has entered into a minimum contract agreement with Treetops Tech; either by purchasing a website or signing up to a minimum 6 months hosting and support contract.</p>

            <h3>Am I eligible?</h3>
            <p>You will be eligible for our referral gift as long as the following apply:</p>
            <ul>
              <li>We have not already been contacted regarding the potential client</li>
              <li>The potential client is not already in discussions with Treetops Tech regarding our products</li>
              <li>The potential client signs a proposal for a website and/or a minimum 6 months hosting and support contract</li>
              <li>All parties have signed the Referral Agreement provided by Treetops Tech</li>
              <li>The potential client has paid their first installment, as per their new contract</li>
            </ul>
            
            <h3>How do I make a referral?</h3>
            <p>If you wish to refer a potential client, please contact us via any of our usual channels, so that we can check their eligibility:</p>
            <ul>
              <li>Email or call us using the contact details in the footer of our website<a href="#footer" class="referral-link">here</a></li>
              <li>Contact us using the contact form on our website<a href="/contact#contactForm" target="_blank" class="referral-link">here</a></li>
              <li>Drop us a private message on our Treetops Tech Facebook page<a href="https://www.facebook.com/treetopstech" target="_blank" class="referral-link">here</a></li>
            </ul>
            <p>On contacting us, we will discuss your proposal and will forward our Referral Agreement if eligible.</p>
            <p>We are always excited to work on new projects, so feel free to contact us if you would like to discuss any of the above in further detail.</p>
      </div>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen" 
          aria-hidden="true"
        />
      </div>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer id="footer">
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
