<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <h2 class="privacy-title">Referral Agreement</h2>
      <div class="stand-out-content-div privacy-policy-content" tabindex="0" class="blur-focus">
            <p>Treetops tech loves when our client base grows organically.</p>
            <p>For this reason, we offer £500 to any individual who puts us in contact with another individual or organisation, who becomes part of our client base.</p>
            <p>The referrer is only eligable for the monitary incentive when the referred potential client successfully enters into a minimum contract agreement with Treetops Tech; either by purchasing a website or signing up to a minimum 6months hosting and support contract.</p>
            
            <h3>How do I make a referral?</h3>
            <p>If you wish to refer a potential client to us, so that we can check their eligibility, you can contact us on any of our usually channels to start the referral process:</p>
            <ul>
              <li>Send us an email or call us using the contact details in the footer of our website</li>
              <li>Contact us using the contact for on our website</li>
              <li>Dorp us a direct message on our Treetops Tech Facebook page</li>
            </ul>

              <p>We are always excited to work on new projects, so feel free to contact us if you would like to discuss the above in further detail.</p>
                      
      </div>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen" 
          aria-hidden="true"
        />
      </div>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer id="footer">
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
