<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="stand-out-content-div" tabindex="0" class="blur-focus">
        <h2 class="thank-you">Thank you!</h2>
        <p>
          Treetops Tech have received your email and will contact you shortly.
        </p>
      </div>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen" 
          aria-hidden="true"
        />
      </div>
    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer id="footer">
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
