
<!DOCTYPE html>
<html lang="en"> 

    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <header>
            <% include ../partials/header %>
        </header>
            
        <main>

            <div class="stand-out-content-div">
                <h2 class="thank-you">Thank you!</h2>
                <p>Treetops Tech have received your email and will contact you shortly.</p>
                <p>We are really pleased that you have contacted us, speak soon.</p>
            </div>
          
            <div id="first-spacing-div" class="spacing-div">
                <img class="" src="/img/hex-falling-line-left.png" alt="faint hexagons falling downwards" />
            </div>

        </main>
        
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/modal %> <%include ../partials/javascript %>
    </body>

</html>
