<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/tree-above-1200-blue.png" alt="close up of the top of a pine tree viewed from above" />
        <h2 class="banner-headline">Values</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
      />

      <p>
        For each project, large or small, we tailor our service to meet your
        needs, considering your current and future business plan.
      </p>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
        />
      </div>

      <p>
        Our agile business structure allows us to create the most suitable team
        to accomplish your project, exceeding expectations.
      </p>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-right.png"
          alt="hexagonal pattern in background in the center of the screen"
        />
      </div>

      <p>
        We believe in honesty, efficiency and communication; providing regular
        project updates, without bombarding you.
      </p>

      <div id="first-spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
        />
      </div>

      <p>
        We want to make have a positive impact on the world, chosing to work
        with forward thinking businesses and partners.
      </p>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
