<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main id="main-content">
      <div class="banner-div">
        <img class="banner-img" 
             src="/img/tree-above-1200-blue.png" 
             alt="close up of the top of a pine tree viewed from above"
             aria-hidden="true" />
        <h2 class="banner-headline" tabindex="0" class="blur-focus">Values</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="Icon directing the user to scroll down the page"
        aria-hidden="true"
      />

      <p tabindex="0" class="blur-focus">
        Cooperation -  We work closely alongside our customers to achieve our goal of creating a fantastic product.
      </p>

      <div id="spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
          aria-hidden="true"
        />
      </div>

      <p tabindex="0" class="blur-focus">
        Positive impact - We collaborate with companies to have a positive impact on the world.
      </p>

      <div id="spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-right.png"
          alt="hexagonal pattern in background in the center of the screen"
          aria-hidden="true"
        />
      </div>

      <p tabindex="0" class="blur-focus">
        Keeping it exciting - We aim to perfect our current skills, whilst always learning new technologies to keep up with a fast-paced industry.
      </p>

      <div id="spacing-div" class="spacing-div">
        <img
          class=""
          src="/img/hex-falling-line-left.png"
          alt="hexagonal pattern in background in the center of the screen"
          aria-hidden="true"
        />
      </div>

      <p tabindex="0" class="blur-focus">
        Effective, yet simple - We concentrate on learning from each project and making our journey together enjoyable.
      </p>

    </main>

    <footer id="footer">
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
