<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="main-content">
        <h1>Our Values</h1>
        <p>
          For each project, large or small, we tailor our service to meet your
          needs, considering your current and future business plan, giving room
          for growth and change.
        </p>
        <p>
          We believe that honesty, efficiency and communication, which we strive
          to maintain at all stages of a project, are key to a successful result.
        </p>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
