<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/grass-1200-blue.png" alt="" />
        <h2 class="banner-headline">Work</h2>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="scroll down icon"
      />

      <p class="work-intro-text">
        Click the tiles below to explore what we offer
      </p>

      <div class="work-text">
        <div class="stand-out-content-div">
          <a href="/brewces">
            <img
              id="brewces-button"
              class="work-link-img"
              src="/img/brewces-button.svg"
              alt="link to an example shop site called Brewces"
            />
            <h3>Business sites</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/bochi-bochi">
            <img
              id="bochi-bochi-button"
              class="work-link-img"
              src="/img/bochi-bochi-button.svg"
              alt="link to an example blog site called Bochi-Bochi"
            />
            <h3>Blog sites</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/applications">
            <img
              id="apps-button"
              class="work-link-img"
              src="/img/applications-button.svg"
              alt="link to an example Web App"
            />
            <h3>Applications</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/freelance">
            <img
              id="freelance-button"
              class="work-link-img"
              src="/img/freelance-button.svg"
              alt="link to page about Treetops Tech freelance work"
            />
            <h3>Freelance development</h3>
          </a>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
