<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/tree-rings-1200-blue.png" alt="" />
        <h3 class="banner-headline">Work</h3>
      </div>

      <!--<img class="work-hex" src="/img/hex-main-color2.png" alt="" />-->
      <!--<div class="work-text" onclick="location.href='/brewces'">
        Small business sites
      </div>
      <div class="work-text" onclick="location.href='/bochi-bochi'">
        Blog sites
      </div>
      <div class="work-text" onclick="location.href='/web-apps'">Web Apps</div>
      <div class="work-text" onclick="location.href='/freelance'">
        Freelance
      </div>
      -->

      <ul class="work-text">
        <li onclick="location.href='/brewces'">
          <img class="banner-img" src="/img/hex-brewces-button.png" alt="link to an example shop site called Brewces" />
        Small business sites</li>
        <li onclick="location.href='/bochi-bochi'">
          <img class="banner-img" src="/img/hex-bochi-bochi-button.png" alt="link to an example blog site called Bochi-Bochi" />
        Blog sites</li>
        <li onclick="location.href='/web-apps'">
          <img class="banner-img" src="/img/hex-app-button.png" alt="link to an example Web App" />
        Web Apps</li>
        <li onclick="location.href='/freelance'">
          <img class="banner-img" src="/img/hex-freelance-button.png" alt="link to page about Treetops Tech freelance work" />
        Freelance</li>
      </ul>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
