<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <h1>Latest Work</h1>
      <ul>
        <li onclick="location.href='/brewces'">Brewces</li>
        <li onclick="location.href='/bochi-bochi'">Bochi-Bochi</li>
        <li onclick="location.href='/web-apps'">Web Apps</li>
        <li onclick="location.href='/freelance'">Freelance</li>
      </ul>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>

</html>
