<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="banner-div">
        <img class="banner-img" src="/img/tree-rings-1200-blue.png" alt="" />
        <h3 class="banner-headline">Work</h3>
      </div>

      <img
        class="scroll-icon"
        src="/img/scroll-icon-opacity40.png"
        alt="scroll down icon"
      />

      <!--<img class="work-hex" src="/img/hex-main-color2.png" alt="" />-->
      <!--<div class="work-text" onclick="location.href='/brewces'">
        Small business sites
      </div>
      <div class="work-text" onclick="location.href='/bochi-bochi'">
        Blog sites
      </div>
      <div class="work-text" onclick="location.href='/web-apps'">Web Apps</div>
      <div class="work-text" onclick="location.href='/freelance'">
        Freelance
      </div>
      -->

      <div class="work-text">
        <div class="stand-out-content-div">
          <a href="/brewces">
            <img
              id="brewces-button"
              class="banner-img"
              src="/img/hex-brewces-button-yellow-grey.png"
              alt="link to an example shop site called Brewces"
            />
            <h3>Small business sites</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/bochi-bochi">
            <img
              id="bochi-bochi-button"
              class="banner-img"
              src="/img/hex-bochi-bochi-button-yellow-grey.png"
              alt="link to an example blog site called Bochi-Bochi"
            />
            <h3>Blog sites</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/applications">
            <img
              id="apps-button"
              class="banner-img"
              src="/img/hex-apps-button-yellow-grey.png"
              alt="link to an example Web App"
            />
            <h3>Applications</h3>
          </a>
        </div>
        <div class="stand-out-content-div">
          <a href="/freelance">
            <img
              id="freelance-button"
              class="banner-img"
              src="/img/hex-freelance-button-yellow-grey.png"
              alt="link to page about Treetops Tech freelance work"
            />
            <h3>Freelance development</h3>
          </a>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
    <% include ../partials/modal %> <%include ../partials/javascript %>
  </body>
</html>
